.tile {
  align-items: center;
  border-radius: 1vh;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 10vh;
  justify-content: center;
  margin: 1vh;
  width: 10vh;
}

.tile:disabled {
  cursor: not-allowed;
}
